<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <% let article = {title: '', desc: '', url: '', tag: ''} %>
        <form action="/add-article" method="POST" class="was-validated">
            <% if (errorMessage) { %>
                <div class="errors alert alert-danger">
                    Veuillez corriger les erreurs.
                </div>
            <% } %>
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    class="form-control <%= errorMessage && errorMessage.title ? 'is-invalid' : '' %>"
                    value="<%= article.title ? article.title : '' %>"
                >
                <% if (errorMessage && errorMessage.title) { %>
                    <div class="invalid-feedback"><%= errorMessage.title.message %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="" cols="30" rows="10" class="form-control <%= errorMessage && errorMessage.desc ? 'is-invalid' : '' %>"><%= article.desc ? article.desc : '' %></textarea>
                <% if (errorMessage && errorMessage.desc) { %>
                    <div class="invalid-feedback"><%= errorMessage.desc.message %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" name="url" class="form-control <%= errorMessage && errorMessage.url ? 'is-invalid' : '' %>" value="<%= article.url ? article.url : '' %>">
                <% if (errorMessage && errorMessage.url) { %>
                    <div class="invalid-feedback"><%= errorMessage.url.message %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="tag">Tag</label>
                <input type="text" name="tag" class="form-control <%= errorMessage && errorMessage.tag ? 'is-invalid' : '' %>" value="<%= article.tag ? article.tag : '' %>">
                <% if (errorMessage && errorMessage.tag) { %>
                    <div class="invalid-feedback"><%= errorMessage.tag.message %></div>
                <% } %>
            </div>

            <button type="submit">Ajouter</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>

<script>
    const titleInput = document.querySelector('input[name=title]');
    const contentInput = document.querySelector('textarea[name=content]');
    const urlInput = document.querySelector('input[name=url]');
    const tagInput = document.querySelector('input[name=tag]');

    // Récupérer les valeurs saisies par l'utilisateur
    const titleValue = localStorage.getItem('titleValue');
    const contentValue = localStorage.getItem('contentValue');
    const urlValue = localStorage.getItem('urlValue');
    const tagValue = localStorage.getItem('tagValue');

    // Réinjecter les valeurs saisies par l'utilisateur
    if (titleValue) {
        titleInput.value = titleValue;
    }
    if (contentValue) {
        contentInput.value = contentValue;
    }
    if (urlValue) {
        urlInput.value = urlValue;
    }
    if (tagValue) {
        tagInput.value = tagValue;
    }

    // Sauvegarder les valeurs saisies par l'utilisateur lorsqu'il quitte la page
    window.addEventListener('beforeunload', () => {
        localStorage.setItem('titleValue', titleInput.value);
        localStorage.setItem('contentValue', contentInput.value);
        localStorage.setItem('urlValue', urlInput.value);
        localStorage.setItem('tagValue', tagInput.value);
    });
</script>
