<%- include('includes/head.ejs') %>
<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1 class="display-4 titre">My Snippets</h1>
        <div class="tags">
            <% const allTags = new Set(); %>
            <% for (let snippet of snippets) { %>
                <% for (let tag of snippet.tags) { %>
                    <% allTags.add(tag); %>
                <% } %>
            <% } %>
            <% for (let tag of allTags) { %>
                <a href="/tag/<%= tag %>"><button class="btn"><%= tag %></button></a>
            <% } %>
        </div>
        
        
        <% if (snippets.length > 0) { %>
            <div class="grid">
                <% for (let snippet of snippets) { %>
                    <snippet class="card post-item">
                        <div class="card-body">
                            <% if (snippet.url) { %>
                                <h1 class="post__title"><a href="<%= snippet.url %>" target="_blank"><%= snippet.title %></a></h1>
                            <% } else { %>
                                <h1 class="post__title"><%= snippet.title %></h1>
                            <% } %>
                        </div>
                            <div >
                                <p class="center">Tags:</p>
                                    <div class="center">
                                        <% for (let tag of snippet.tags) { %>
                                            <span class="badge badge-primary tag"><%= tag %></span>
                                        <% } %>
                                    </div>
                        </div>                  
                        <div class="center">                       
                            Date of creation:<br>
                             <%= new Date(snippet.createdAt).getFullYear() %>/<%= ("0" + (new Date(snippet.createdAt).getMonth()+1)).slice(-2) %>/
                            <%= ("0" + new Date(snippet.createdAt).getDate()).slice(-2) %> at <%= ("0" + new Date(snippet.createdAt).getHours()).slice(-2) %>:<%= ("0" + new Date(snippet.createdAt).getMinutes()).slice(-2) %>
                        </div>
                        
                    <div class="card__actions">
                        <a href="/snippet/<%= snippet.id %>" class="btn">See</a>
                        <a href="/edit-snippet/<%= snippet.id %>" class="btn">Edit</a>
                        <a href="/delete/<%= snippet.id %>" class="btn btn-delete">Delete</a>
                    </div>
                </snippet>
            <% } %>
        </div>
        <% } else { %>
        <h3>Pas de snippet !</h3>
        <% } %>
    </main>

    <script>
        const deleteButtons = document.querySelectorAll('.btn-delete');
    
        deleteButtons.forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete this snippet?");
                if (confirmation) {
                    window.location.href = button.getAttribute('href');
                }
            });
        });
    </script>
    
<%- include('includes/end.ejs') %>
