<%- include('includes/head.ejs') %>
<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mes Snippets</h1>
        
        <% if (snippets.length > 0) { %>
            <div class="grid">
                <% for (let snippet of snippets) { %>
                    <snippet class="card post-item">
                        <div class="card-body">
                            <% if (snippet.url) { %>
                                <h1 class="post__title"><a href="<%= snippet.url %>" target="_blank"><%= snippet.title %></a></h1>
                            <% } else { %>
                                <h1 class="post__title"><%= snippet.title %></h1>
                            <% } %>
                        </div>
                    <div>
                        <%= snippet.tags %>
                    </div>
                    <div>                       
                        <%= new Date(snippet.createdAt).toLocaleDateString() %> <%= new Date(snippet.createdAt).toLocaleTimeString() %>                        
                    </div>
                    <div class="card__actions">
                        <a href="/snippet/<%= snippet.id %>" class="btn">See</a>
                        <a href="/edit-snippet/<%= snippet.id %>" class="btn">Edit</a>
                        <a href="/delete/<%= snippet.id %>" class="btn btn-delete">Delete</a>
                    </div>
                </snippet>
            <% } %>
        </div>
        <% } else { %>
        <h3>Pas de snippet !</h3>
        <% } %>
    </main>

    <script>
        const deleteButtons = document.querySelectorAll('.btn-delete');
    
        deleteButtons.forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();
                const confirmation = confirm("Are you sure you want to delete this snippet?");
                if (confirmation) {
                    window.location.href = button.getAttribute('href');
                }
            });
        });
    </script>
    
<%- include('includes/end.ejs') %>
